# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Hide obj and bin folders and files
.vscode/
bin/Debug/*.exe
bin/Debug/src/
bin/Debug/src/intro.txt
bin/Debug/src/intro1.txt
bin/Release/*.exe
bin/Release/src/intro.txt
bin/Release/src/intro1.txt
obj/Debug/*.o
obj/Release/*.o
debug.log
!bin/pdcurses.dll
!lib/pdcurses.lib